<div class="telo">
    <div class="row">
        <div class="col-md-8">
            <h1>Niečo o mne.</h1>
            <p><strong>Táto stránka slúži ako môj osobný životopis, kde sa delím o svoju cestu do IT sveta.</strong></p>
            <p>
                Po rokoch praxe ako cytogenetik v zdravotníctve som sa rozhodol rozšíriť svoj <strong>zmysel pre detail</strong> a <strong>precíznosť</strong> do oblasti IT.<br>
                S nadšením som sa ponoril do sveta programovania, pričom som sa zameral na <strong>Python</strong>. Pomocou Django Girls tutoriálu som vytvoril túto stránku:
                <a href="https://rastislavruzbacky.eu.pythonanywhere.com/zivo/" target="_blank">rastislavruzbacky.eu.pythonanywhere.com/zivo</a>
                ako svoj osobný, skrátený životopis, čím som získal cenné skúsenosti s vývojom webových aplikácií pomocou Django frameworku a prehĺbil svoje znalosti v HTML a CSS.
            </p>

            <p>
                Pri vývoji som využíval <strong>Visual Studio Code</strong> ako spoľahlivý nástroj na písanie a ladenie kódu. Osvojil som si správu <strong>virtuálnych prostredí v Pythone</strong>, čo mi umožnilo efektívne riadiť závislosti.
                <strong>Git</strong> a <strong>GitHub</strong> som aktívne využíval na správu verzií, vďaka čomu som si osvojil zásadné princípy prehľadného a organizovaného vývoja.
            </p>

            <p>
                Nedávno som sa začal venovať aj <strong>C# a .NET frameworku</strong>. Po absolvovaní kurzu som získal hlboké pochopenie vývoja aplikácií v ekosystéme .NET, čo mi umožnilo vylepšiť a rozšíriť existujúce projekty.
                <strong>Visual Studio</strong> sa stalo mojím hlavným nástrojom pre prácu s C# a .NET, vďaka ktorému som zefektívnil proces vývoja a využívam jeho robustné funkcie.
            </p>

            <p>
                Moje skúsenosti mi poskytli <strong>pevné základy v programovaní</strong> a vývoji webových aplikácií.
                Som nadšený z procesu učenia a pokroku a neustále sa posúvam bližšie k svojmu cieľu – stať sa plnohodnotným vývojárom, ktorý do každého projektu prináša <strong>precíznosť a kvalitu</strong>.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <div class="obrazok-a-cas" style="display: inline-block;">
                <img src="../Images/RastislavRuzbacky.jpg" alt="Rastislav Ružbacký" class="img-fluid" />
                <div id="current-time">Presný čas:</div>
            </div>
        </div>
        <script src="~/Scripts/time1.js"></script>
    </div>
</div>